
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Loader
@import "loader";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// second hand
thead, tfoot{
  color: #000000;
}

.cash-out {
  color: red;
}

.cash-in {
  color: green;
}

//#deals .item {
//  cursor: pointer;
//}
//
//#deals .item:hover {
//  color: #000000;
//  background-color: #FFFFFF;
//}
